# Segmenting and Clustering Neighborhoods in Toronto

## Problem 1


For this assignment, it will be required to explore and cluster the neighborhoods in Toronto.

Start by creating a new Notebook for this assignment.
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [2]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/7JXaz3NNEeiMwApe4i-fLg_40e690ae0e927abda2d4bde7d94ed133_Screen-Shot-2018-06-18-at-7.17.57-PM.png?expiry=1607385600000&hmac=jel24_jYTxce9pbfIb4M_uf8J0WSb8_kOyGarkY2yPM")

To create the above dataframe:

1、The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood\
2、Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.\
3、More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.\
4、If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.\
5、Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.\
6、In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [27]:
import numpy as np 
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json 
import requests 
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
from bs4 import BeautifulSoup
import requests
import csv

In [55]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

soup = BeautifulSoup(source, 'html.parser')
tablesoup = soup.find('table', class_ = 'wikitable sortable')

column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

for tr_cell in tablesoup.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [56]:
df.head(5)

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront


Data Cleaning
remove rows where Borough is 'Not assigned'

In [57]:
df=df[df['Borough']!='Not assigned']

In [58]:
#df=df[df['Neighborhood']=='Not assigned']=df['Borough']
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [61]:
grouped = df.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join)

groupedDF = grouped.to_frame().reset_index()

groupedDF.head(5)

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [62]:
groupedDF.shape

(103, 3)